/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  margin: 20px auto;
  font-family: Helvetica;
  background-image: url("gal.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
svg {
  height: 500px;
  width: 600px;
  margin: 0 20px;
  border: 3px solid black;
  background: #202020;
  background-image: url("spacegif.gif");
  display: block;
  margin: auto;
}

.player {
  border: 1px solid black;
  cursor: pointer;
}



.titler {
  font-color: white;
}

